@import "tailwindcss";

body {
  background: white;
}
.hero-bg {
  align-items: center;
  background: radial-gradient(
    62.41569446875758% 80.11014942970601% at 52.548115021246446%
      31.507288140638245%,
    #1d7fff 5.539991334080696%,
    rgba(142, 208, 242, 1) 78.50944399833679%
  );
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow: hidden;
  padding-bottom: 192px;
  position: relative;
  width: 100%;
}

@keyframes shine {
  0% {
    left: 120%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.shine-effect {
  animation: shine 3s infinite linear;
}

.second-bg {
  border-radius: 171.75px;
  background: linear-gradient(179deg, #e8f0ff 0%, #a6c7ff 100%);
  box-shadow: 0px 4.817px 9.633px 0px rgba(0, 0, 0, 0.1),
    0px 19.267px 19.267px 0px rgba(0, 0, 0, 0.09),
    0px 38.534px 24.084px 0px rgba(0, 0, 0, 0.05),
    0px 72.251px 28.9px 0px rgba(0, 0, 0, 0.02);
}
.third-bg {
  border-radius: 171.75px;
  background: #d7d7d9;
  box-shadow: 0px 0.828px 1.656px 0px rgba(0, 0, 0, 0.1),
    0px 3.312px 3.312px 0px rgba(0, 0, 0, 0.09),
    0px 6.625px 4.141px 0px rgba(0, 0, 0, 0.05),
    0px 12.422px 4.969px 0px rgba(0, 0, 0, 0.02);
}
.first-bg {
  border-radius: 171.75px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 4.817px 9.633px 0px rgba(0, 0, 0, 0.1),
    0px 19.267px 19.267px 0px rgba(0, 0, 0, 0.09),
    0px 38.534px 24.084px 0px rgba(0, 0, 0, 0.05),
    0px 72.251px 28.9px 0px rgba(0, 0, 0, 0.02);
}
.get-started-btn {
  border-radius: 20px;
  background: linear-gradient(189deg, #3c3c3c 0%, #232323 100%);
  box-shadow: 0px 4.68px 14.508px 0px rgba(255, 255, 255, 0.5) inset,
    0px 2.618px 0px 0px #000;
}

.explore-btn {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
}

.card-bg {
  border-radius: 44px 44px 0px 0px;
  background: linear-gradient(180deg, #1e80ff 0%, #8fd1f3 100%);
}

.category-bg {
  border-radius: 48px;
  background: radial-gradient(
    87.68% 87.68% at 50% 50%,
    #f8f8f8 0%,
    #ebebeb 100%
  );
}
.design-btn {
  border-radius: 80px;
  background: #53fd18;
  box-shadow: 0px 3px 14px 2px #cf0 inset,
    -9px 16px 30px 0px rgba(24, 216, 62, 0.31);
}
.family-btn {
  border-radius: 90px;
  background: #fdbc18;
  box-shadow: 0px -4px 21px 3px #f9ff00 inset,
    2px 20px 30px 0px rgba(240, 176, 0, 0.31);
}
.it-team-btn {
  border-radius: 100px;
  background: #fd6a18;
  box-shadow: 0px -4px 20px 0px #ffc600 inset,
    -13px 20px 30px 0px rgba(245, 107, 25, 0.31);
}
.work-btn {
  border-radius: 120px;
  background: #186afd;
  box-shadow: 0px -5px 35px 3px #00ffe0 inset,
    0px 15px 30px 0px rgba(10, 177, 239, 0.31);
}
.work {
  background: linear-gradient(175deg, #fff 0%, #c4e4fb 100%);
}
.google-bg {
  border-radius: 312.19px;
  background: linear-gradient(179deg, #e8f0ff 0%, #a6c7ff 100%);
  box-shadow: 0px 4.817px 9.633px 0px rgba(0, 0, 0, 0.1),
    0px 19.267px 19.267px 0px rgba(0, 0, 0, 0.09),
    0px 38.534px 24.084px 0px rgba(0, 0, 0, 0.05),
    0px 72.251px 28.9px 0px rgba(0, 0, 0, 0.02);
}
.work-tab {
  background-color: rgb(255, 76, 0);
    border-radius: 24.936% / 28.6445%;
    box-shadow: rgb(255, 214, 0) 0px 5.24643px 16.4388px 0px inset;
    transform: translate3d(0px, 0.0601165px, 0px);
    transform-origin: 50% 50% 0px;
}
.it-team-tab {
  background-color: rgb(0, 10, 255);
  border-radius: 19.5856% / 27.6543%;
  box-shadow: rgb(0, 255, 255) 0px 5.24643px 16.4388px 0px inset;
  transform: translate3d(0px, 0.0112389px, 0px);
  transform-origin: 50% 50% 0px;
}

/* Add these animation keyframes to your CSS */
@keyframes firstTab {
  0%,
  100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(px);
  }
  75% {
    transform: translateY(0);
  }
}

@keyframes secondTab {
  0%,
  33%,
  100% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(5px);
  }
  92% {
    transform: translateY(0);
  }
}
